<div class=" py-2 maindiv">
    <h6 class="text-center">About</h6>
</div>
<div>
    <h3 class="text-center mt-3">About Page  <i class="fa-solid fa-bowl-food"></i></h3>
    <div class="container m-auto mt-5 ">
        <img class=" homeimg" src="/wallpaperflare.com_wallpaper (4).jpg" alt="">

    </div>
    <div class="container mt-5">
        <p class="fw-semibold">Seabite Restaurant is a coastal dining gem that offers a unique blend of fresh seafood and stunning ocean views. Known for its exquisite menu, the restaurant specializes in locally sourced ingredients, ensuring every dish is packed with flavor and authenticity. From perfectly grilled fish to indulgent seafood pasta, Seabite caters to all palates. The relaxed, elegant atmosphere makes it an ideal spot for romantic dinners, family gatherings, or casual meals with friends. Guests often rave about the attentive service and the chef's creative presentations. Located just steps from the shore, the ambiance is enhanced by the gentle sound of waves and the refreshing sea breeze. Seabite Restaurant promises an unforgettable culinary experience for all seafood enthusiasts.</p>
      
    </div>

</div>