<app-supervisor></app-supervisor>
<div #element #element2   class="w-50 supervision m-auto p-4 shadow-sm rounded-4 my-3">

    <p  class="text-center text-white-50"> The chefs at Seabite Restaurant form a dynamic and skilled team dedicated to creating exceptional culinary experiences. With a passion for innovation and a deep respect for tradition, they masterfully blend fresh, locally sourced ingredients into dishes that delight the senses. Each chef brings unique expertise, from crafting intricate seafood platters to perfecting signature sauces, ensuring every plate showcases artistry and flavor. Collaboration and creativity drive their process, as they work seamlessly in a fast-paced kitchen environment to maintain the highest standards. At Seabite, the chefs' dedication to excellence transforms every meal into an unforgettable journey of taste and presentation.</p>
</div>

<div class="d-flex justify-content-center align-items-center">
 <div>
    <button (click)="hidedata(element)" class="mb-4 mt-4">
        <span class="shadow"></span>
        <span class="edge"></span>
        <span class="front text"> Click me to send data to my parent
        </span>
      </button>
 </div>
 
   <div >
    <button (click)="showdata(element2)" class="mb-4 mt-4 ms-3">
        <span class="shadow"></span>
        <span class="edge edge1"></span>
        <span class="front front1 text"> Click me to restore data
        </span>
      </button>
   </div>

</div>

<div class=" py-2 maindiv">

    <h6  class="text-center">Team</h6>
</div>
<div>
    <h3 class="text-center mt-3">Team Page  <i class="fa-solid fa-users"></i></h3>
    <div class="container m-auto mt-5  mb-4">
        <img class=" homeimg" src="/wallpaperflare.com_wallpaper (5).jpg" alt="">

    </div>


</div>