<div class=" py-2 maindiv">
    <h6 class="text-center">Home</h6>
</div>
<div>
    <h3 class="text-center mt-3">Home Page  <i class="fa-solid fa-house"></i></h3>
    <div class="container m-auto mt-5 ">
        <img class=" homeimg" src="/wallpaperflare.com_wallpaper (3).jpg" alt="">

    </div>
    <div class="container mt-5">
        <p class="fw-semibold">
            Seabite Restaurant is a haven for seafood lovers, offering a perfect combination of fresh, flavorful dishes and breathtaking oceanfront views. Nestled along the shoreline, this restaurant takes pride in using locally sourced ingredients, ensuring every bite is bursting with quality and authenticity. The menu features a delightful array of options, including succulent lobster, perfectly seared scallops, grilled fish, and creamy seafood risotto. For those who prefer lighter fare, fresh salads and delicious soups are also available. The ambiance at Seabite is both relaxed and refined, making it a popular choice for romantic dates, family dinners, or celebrations with friends. Guests often praise the attentive staff, warm hospitality, and the chef’s artistic presentations. With the soothing sound of waves and a cool sea breeze, dining at Seabite Restaurant is more than just a meal—it’s a memorable experience that delights all the senses.
        </p>
    </div>

</div>